* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    margin: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 0 auto;
}

.card {
    width: calc(100% / 3 - 100px);
    margin: 50px;
    padding: 20px;
    text-align: center;
    background: #000;
    color: #fff;
    border-radius: 10px;
    transition: all .5s;
}

.card:hover {
    width: calc(100% / 3 - 50px);
    margin: 25px;
    background: rgb(78, 202, 78);
    color: crimson;
}

.card h2,
.card h4,
.card p,
.card h5 {
    margin-bottom: 10px;
}

.card ul {
    list-style: none;
}